################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FastSockets/bin
/FastSockets/Help/LastBuild.log
/FastSockets/StyleCop.Cache
