################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FastSockets/bin
/FastSockets/Help/LastBuild.log
/FastSockets/StyleCop.Cache
/FastSockets/obj
/Examples/HappyServerClient/.vs
/Examples/HappyServerClient/HappyClient/obj
/Examples/HappyServerClient/HappyServer/obj
/Examples/HappyServerClient/HappyServerClient/obj
/Examples/HappyServerClient/HappyClient/bin
/Examples/HappyServerClient/HappyClient/obj
/Examples/HappyServerClient/HappyServer/bin
/Examples/HappyServerClient/HappyServer/obj
/Examples/HappyServerClient/HappyServerClient/bin
/Examples/HappyServerClient/HappyServerClient/obj
/FastSockets/FastSocketsAPI.1.0.1.nupkg
/FastSockets/FastSocketsAPI.nuspec
/FastSockets/nuget.exe
